In [1]:
import pandas as pd 
import json
from sqlalchemy import create_engine
import numpy as np

In [2]:
csv_file = "./Resources/GDP.csv"
gdp_df = pd.read_csv(csv_file)
gdp_df

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,..,..,20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,2028553750,3480355258,12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,62048562947,54790392746,2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,..,..,640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,1029048482,1429049198,3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data_df = gdp_df[['Country Name', 'Series Name', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]']].copy()
data_df

,Country Name,Series Name,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Afghanistan,GDP (current US$),20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,Albania,GDP (current US$),12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,Algeria,GDP (current US$),2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,American Samoa,GDP (current US$),640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,Andorra,GDP (current US$),3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,NaN,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,NaN,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_df.replace('..', np.nan, inplace=True)

drop_df = data_df.dropna(how='any')
drop_df

,Country Name,Series Name,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Afghanistan,GDP (current US$),20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,Albania,GDP (current US$),12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,Algeria,GDP (current US$),2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,American Samoa,GDP (current US$),640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,Andorra,GDP (current US$),3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...
527,Sub-Saharan Africa,GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
528,Sub-Saharan Africa (excluding high income),GNI (current US$),1.62311E+12,1.72215E+12,1.82379E+12,1.63642E+12,1.53012E+12,1.64758E+12,1.70834E+12,1.73642E+12,1.66017E+12,1.85488E+12
529,Sub-Saharan Africa (IDA & IBRD countries),GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
530,Upper middle income,GNI (current US$),1.85962E+13,1.99254E+13,2.06713E+13,1.94011E+13,1.92794E+13,2.13852E+13,2.29617E+13,2.3359E+13,2.25268E+13,2.66712E+13
531,World,GNI (current US$),7.55706E+13,7.75443E+13,7.99475E+13,7.53454E+13,7.64931E+13,8.1557E+13,8.65047E+13,8.77246E+13,8.51745E+13,9.64197E+13

In [5]:
rename_df = drop_df.rename(columns = {"2012 [YR2012]":"2012",
                         "2013 [YR2013]":"2013", 
                         "2014 [YR2014]":"2014", 
                         "2015 [YR2015]":"2015", 
                         "2016 [YR2016]":"2016",
                         "2017 [YR2017]":"2017",
                         "2018 [YR2018]":"2018",
                         "2019 [YR2019]":"2019",
                         "2020 [YR2020]":"2020",
                         "2021 [YR2021]":"2021"})
rename_df

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,GDP (current US$),20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,Albania,GDP (current US$),12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,Algeria,GDP (current US$),2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,American Samoa,GDP (current US$),640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,Andorra,GDP (current US$),3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...
527,Sub-Saharan Africa,GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
528,Sub-Saharan Africa (excluding high income),GNI (current US$),1.62311E+12,1.72215E+12,1.82379E+12,1.63642E+12,1.53012E+12,1.64758E+12,1.70834E+12,1.73642E+12,1.66017E+12,1.85488E+12
529,Sub-Saharan Africa (IDA & IBRD countries),GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
530,Upper middle income,GNI (current US$),1.85962E+13,1.99254E+13,2.06713E+13,1.94011E+13,1.92794E+13,2.13852E+13,2.29617E+13,2.3359E+13,2.25268E+13,2.66712E+13
531,World,GNI (current US$),7.55706E+13,7.75443E+13,7.99475E+13,7.53454E+13,7.64931E+13,8.1557E+13,8.65047E+13,8.77246E+13,8.51745E+13,9.64197E+13

In [6]:
numbers = rename_df.loc[drop_df['Country Name'].isin(['United States', 'China', 'Japan', 'Germany', 'India', 'United Kingdom', 'France', 'Italy', 'Canada', 'Korea, Rep.'])]
numbers

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
35,Canada,GDP (current US$),1.82837E+12,1.8466E+12,1.80575E+12,1.55651E+12,1.52799E+12,1.64927E+12,1.72533E+12,1.74202E+12,1.64542E+12,1.98834E+12
41,China,GDP (current US$),8.53223E+12,9.57041E+12,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.46877E+13,1.77341E+13
68,France,GDP (current US$),2.68367E+12,2.81188E+12,2.85596E+12,2.43919E+12,2.47296E+12,2.59515E+12,2.79096E+12,2.72887E+12,2.63901E+12,2.95788E+12
73,Germany,GDP (current US$),3.52714E+12,3.7338E+12,3.88909E+12,3.35759E+12,3.46985E+12,3.69085E+12,3.97444E+12,3.88823E+12,3.88967E+12,4.25993E+12
89,India,GDP (current US$),1.82764E+12,1.85672E+12,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70293E+12,2.83155E+12,2.66769E+12,3.1763E+12
96,Italy,GDP (current US$),2.08696E+12,2.14192E+12,2.16201E+12,1.83664E+12,1.87707E+12,1.9618E+12,2.09193E+12,2.0113E+12,1.89676E+12,2.1077E+12
98,Japan,GDP (current US$),6.27236E+12,5.21233E+12,4.89699E+12,4.44493E+12,5.00368E+12,4.93084E+12,5.03784E+12,5.12332E+12,5.04011E+12,4.94088E+12
104,"Korea, Rep.",GDP (current US$),1.27843E+12,1.3708E+12,1.48432E+12,1.46577E+12,1.50011E+12,1.6239E+12,1.72485E+12,1.65142E+12,1.64431E+12,1.81096E+12
205,United Kingdom,GDP (current US$),2.70634E+12,2.78632E+12,3.06522E+12,2.93486E+12,2.69966E+12,2.6834E+12,2.87815E+12,2.85706E+12,2.70461E+12,3.13138E+12
206,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13
301,Canada,GNI (current US$),1.79592E+12,1.81847E+12,1.77657E+12,1.53266E+12,1.50933E+12,1.62829E+12,1.696E+12,1.71964E+12,1.62705E+12,1.97418E+12
307,China,GNI (current US$),8.51241E+12,9.49258E+12,1.0489E+13,1.10088E+13,1.11776E+13,1.22943E+13,1.38338E+13,1.42399E+13,1.45701E+13,1.75723E+13
334,France,GNI (current US$),2.74235E+12,2.87486E+12,2.91786E+12,2.49186E+12,2.52528E+12,2.65381E+12,2.85566E+12,2.78742E+12,2.67999E+12,3.04518E+12
339,Germany,GNI (current US$),3.61177E+12,3.82026E+12,3.96701E+12,3.4341E+12,3.55593E+12,3.77879E+12,4.10843E+12,4.01908E+12,4.00419E+12,4.41103E+12
355,India,GNI (current US$),1.80618E+12,1.8336E+12,2.01502E+12,2.07918E+12,2.24794E+12,2.6228E+12,2.67399E+12,2.80431E+12,2.63176E+12,3.12686E+12
362,Italy,GNI (current US$),2.08441E+12,2.13821E+12,2.1622E+12,1.82394E+12,1.88246E+12,1.97274E+12,2.11504E+12,2.02835E+12,1.92049E+12,2.14547E+12
364,Japan,GNI (current US$),6.44554E+12,5.39161E+12,5.07902E+12,4.61977E+12,5.17779E+12,5.11325E+12,5.23063E+12,5.32345E+12,5.22289E+12,5.1293E+12
370,"Korea, Rep.",GNI (current US$),1.2918E+12,1.37953E+12,1.4915E+12,1.47036E+12,1.5056E+12,1.63052E+12,1.73179E+12,1.66568E+12,1.65867E+12,1.83112E+12
471,United Kingdom,GNI (current US$),2.68121E+12,2.73688E+12,3.01043E+12,2.87105E+12,2.63654E+12,2.65451E+12,2.83892E+12,2.85588E+12,2.64385E+12,3.1177E+12
472,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [19]:
data = numbers[numbers["Series Name"] == "GDP (current US$)"]
data

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
35,Canada,GDP (current US$),1.82837E+12,1.8466E+12,1.80575E+12,1.55651E+12,1.52799E+12,1.64927E+12,1.72533E+12,1.74202E+12,1.64542E+12,1.98834E+12
41,China,GDP (current US$),8.53223E+12,9.57041E+12,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.46877E+13,1.77341E+13
68,France,GDP (current US$),2.68367E+12,2.81188E+12,2.85596E+12,2.43919E+12,2.47296E+12,2.59515E+12,2.79096E+12,2.72887E+12,2.63901E+12,2.95788E+12
73,Germany,GDP (current US$),3.52714E+12,3.7338E+12,3.88909E+12,3.35759E+12,3.46985E+12,3.69085E+12,3.97444E+12,3.88823E+12,3.88967E+12,4.25993E+12
89,India,GDP (current US$),1.82764E+12,1.85672E+12,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70293E+12,2.83155E+12,2.66769E+12,3.1763E+12
96,Italy,GDP (current US$),2.08696E+12,2.14192E+12,2.16201E+12,1.83664E+12,1.87707E+12,1.9618E+12,2.09193E+12,2.0113E+12,1.89676E+12,2.1077E+12
98,Japan,GDP (current US$),6.27236E+12,5.21233E+12,4.89699E+12,4.44493E+12,5.00368E+12,4.93084E+12,5.03784E+12,5.12332E+12,5.04011E+12,4.94088E+12
104,"Korea, Rep.",GDP (current US$),1.27843E+12,1.3708E+12,1.48432E+12,1.46577E+12,1.50011E+12,1.6239E+12,1.72485E+12,1.65142E+12,1.64431E+12,1.81096E+12
205,United Kingdom,GDP (current US$),2.70634E+12,2.78632E+12,3.06522E+12,2.93486E+12,2.69966E+12,2.6834E+12,2.87815E+12,2.85706E+12,2.70461E+12,3.13138E+12
206,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13

In [20]:
pd.to_numeric(data ['2021']).sort_values()

104    1.810960e+12
35     1.988340e+12
96     2.107700e+12
68     2.957880e+12
205    3.131380e+12
89     3.176300e+12
73     4.259930e+12
98     4.940880e+12
41     1.773410e+13
206    2.331510e+13
Name: 2021, dtype: float64

In [39]:
gdp_new = data[["Country Name", "Series Name"]].copy(deep=True)
for year in ["2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"]:
    gdp_new[year] = data[year].apply(pd.to_numeric)

In [40]:
gdp = gdp_new.sort_values(by = ['2012'], ascending=(False))
gdp

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
206,United States,GDP (current US$),1.625400e+13,1.684320e+13,1.755070e+13,1.820600e+13,1.869510e+13,1.947730e+13,2.053310e+13,2.138100e+13,2.106050e+13,2.331510e+13
41,China,GDP (current US$),8.532230e+12,9.570410e+12,1.047570e+13,1.106160e+13,1.123330e+13,1.231040e+13,1.389480e+13,1.427990e+13,1.468770e+13,1.773410e+13
98,Japan,GDP (current US$),6.272360e+12,5.212330e+12,4.896990e+12,4.444930e+12,5.003680e+12,4.930840e+12,5.037840e+12,5.123320e+12,5.040110e+12,4.940880e+12
73,Germany,GDP (current US$),3.527140e+12,3.733800e+12,3.889090e+12,3.357590e+12,3.469850e+12,3.690850e+12,3.974440e+12,3.888230e+12,3.889670e+12,4.259930e+12
205,United Kingdom,GDP (current US$),2.706340e+12,2.786320e+12,3.065220e+12,2.934860e+12,2.699660e+12,2.683400e+12,2.878150e+12,2.857060e+12,2.704610e+12,3.131380e+12
68,France,GDP (current US$),2.683670e+12,2.811880e+12,2.855960e+12,2.439190e+12,2.472960e+12,2.595150e+12,2.790960e+12,2.728870e+12,2.639010e+12,2.957880e+12
96,Italy,GDP (current US$),2.086960e+12,2.141920e+12,2.162010e+12,1.836640e+12,1.877070e+12,1.961800e+12,2.091930e+12,2.011300e+12,1.896760e+12,2.107700e+12
35,Canada,GDP (current US$),1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
89,India,GDP (current US$),1.827640e+12,1.856720e+12,2.039130e+12,2.103590e+12,2.294800e+12,2.651470e+12,2.702930e+12,2.831550e+12,2.667690e+12,3.176300e+12
104,"Korea, Rep.",GDP (current US$),1.278430e+12,1.370800e+12,1.484320e+12,1.465770e+12,1.500110e+12,1.623900e+12,1.724850e+12,1.651420e+12,1.644310e+12,1.810960e+12

In [24]:
data2 = numbers[numbers["Series Name"] == "GNI (current US$)"]
data2

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
301,Canada,GNI (current US$),1.79592E+12,1.81847E+12,1.77657E+12,1.53266E+12,1.50933E+12,1.62829E+12,1.696E+12,1.71964E+12,1.62705E+12,1.97418E+12
307,China,GNI (current US$),8.51241E+12,9.49258E+12,1.0489E+13,1.10088E+13,1.11776E+13,1.22943E+13,1.38338E+13,1.42399E+13,1.45701E+13,1.75723E+13
334,France,GNI (current US$),2.74235E+12,2.87486E+12,2.91786E+12,2.49186E+12,2.52528E+12,2.65381E+12,2.85566E+12,2.78742E+12,2.67999E+12,3.04518E+12
339,Germany,GNI (current US$),3.61177E+12,3.82026E+12,3.96701E+12,3.4341E+12,3.55593E+12,3.77879E+12,4.10843E+12,4.01908E+12,4.00419E+12,4.41103E+12
355,India,GNI (current US$),1.80618E+12,1.8336E+12,2.01502E+12,2.07918E+12,2.24794E+12,2.6228E+12,2.67399E+12,2.80431E+12,2.63176E+12,3.12686E+12
362,Italy,GNI (current US$),2.08441E+12,2.13821E+12,2.1622E+12,1.82394E+12,1.88246E+12,1.97274E+12,2.11504E+12,2.02835E+12,1.92049E+12,2.14547E+12
364,Japan,GNI (current US$),6.44554E+12,5.39161E+12,5.07902E+12,4.61977E+12,5.17779E+12,5.11325E+12,5.23063E+12,5.32345E+12,5.22289E+12,5.1293E+12
370,"Korea, Rep.",GNI (current US$),1.2918E+12,1.37953E+12,1.4915E+12,1.47036E+12,1.5056E+12,1.63052E+12,1.73179E+12,1.66568E+12,1.65867E+12,1.83112E+12
471,United Kingdom,GNI (current US$),2.68121E+12,2.73688E+12,3.01043E+12,2.87105E+12,2.63654E+12,2.65451E+12,2.83892E+12,2.85588E+12,2.64385E+12,3.1177E+12
472,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [25]:
pd.to_numeric(data2 ['2021']).sort_values()

370    1.831120e+12
301    1.974180e+12
362    2.145470e+12
334    3.045180e+12
471    3.117700e+12
355    3.126860e+12
339    4.411030e+12
364    5.129300e+12
307    1.757230e+13
472    2.361710e+13
Name: 2021, dtype: float64

In [37]:
gni_new = data2[["Country Name", "Series Name"]].copy(deep=True)
for year in ["2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"]:
    gni_new[year] = data2[year].apply(pd.to_numeric)

In [38]:
gni = gni_new.sort_values(by = ['2021'], ascending=(False))
gni

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
472,United States,GNI (current US$),1.667560e+13,1.718830e+13,1.804310e+13,1.866090e+13,1.902050e+13,1.988560e+13,2.093740e+13,2.176450e+13,2.147240e+13,2.361710e+13
307,China,GNI (current US$),8.512410e+12,9.492580e+12,1.048900e+13,1.100880e+13,1.117760e+13,1.229430e+13,1.383380e+13,1.423990e+13,1.457010e+13,1.757230e+13
364,Japan,GNI (current US$),6.445540e+12,5.391610e+12,5.079020e+12,4.619770e+12,5.177790e+12,5.113250e+12,5.230630e+12,5.323450e+12,5.222890e+12,5.129300e+12
339,Germany,GNI (current US$),3.611770e+12,3.820260e+12,3.967010e+12,3.434100e+12,3.555930e+12,3.778790e+12,4.108430e+12,4.019080e+12,4.004190e+12,4.411030e+12
355,India,GNI (current US$),1.806180e+12,1.833600e+12,2.015020e+12,2.079180e+12,2.247940e+12,2.622800e+12,2.673990e+12,2.804310e+12,2.631760e+12,3.126860e+12
471,United Kingdom,GNI (current US$),2.681210e+12,2.736880e+12,3.010430e+12,2.871050e+12,2.636540e+12,2.654510e+12,2.838920e+12,2.855880e+12,2.643850e+12,3.117700e+12
334,France,GNI (current US$),2.742350e+12,2.874860e+12,2.917860e+12,2.491860e+12,2.525280e+12,2.653810e+12,2.855660e+12,2.787420e+12,2.679990e+12,3.045180e+12
362,Italy,GNI (current US$),2.084410e+12,2.138210e+12,2.162200e+12,1.823940e+12,1.882460e+12,1.972740e+12,2.115040e+12,2.028350e+12,1.920490e+12,2.145470e+12
301,Canada,GNI (current US$),1.795920e+12,1.818470e+12,1.776570e+12,1.532660e+12,1.509330e+12,1.628290e+12,1.696000e+12,1.719640e+12,1.627050e+12,1.974180e+12
370,"Korea, Rep.",GNI (current US$),1.291800e+12,1.379530e+12,1.491500e+12,1.470360e+12,1.505600e+12,1.630520e+12,1.731790e+12,1.665680e+12,1.658670e+12,1.831120e+12

In [22]:
coords_file = "./Resources/Coordinates.csv"
place_df = pd.read_csv(coords_file, skiprows=0)
place_df

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [23]:
data2_df = place_df[['name', 'latitude', 'longitude']]
data2_df

                     name   latitude  longitude
0                 Andorra  42.546245   1.601554
1    United Arab Emirates  23.424076  53.847818
2             Afghanistan  33.939110  67.709953
3     Antigua and Barbuda  17.060816 -61.796428
4                Anguilla  18.220554 -63.068615
..                    ...        ...        ...
240                 Yemen  15.552727  48.516388
241               Mayotte -12.827500  45.166244
242          South Africa -30.559482  22.937506
243                Zambia -13.133897  27.849332
244              Zimbabwe -19.015438  29.154857

[245 rows x 3 columns]

In [27]:
clean2_df = data2_df.loc[place_df['name'].isin(['United States', 'China', 'Japan', 'Germany', 'India', 'United Kingdom', 'France', 'Italy', 'Canada', 'Korea, Rep.'])]
clean2_df

               name   latitude   longitude
35           Canada  56.130366 -106.346771
45            China  35.861660  104.195397
53          Germany  51.165691   10.451526
71           France  46.227638    2.213749
73   United Kingdom  55.378051   -3.435973
102           India  20.593684   78.962880
107           Italy  41.871940   12.567380
111           Japan  36.204824  138.252924
227   United States  37.090240  -95.712891

In [29]:
coordinates = clean2_df.rename(columns = {"name":"Country Name",
                         "latitude":"Latitude", 
                         "longitude":"Longitude"})
coordinates

       Country Name   Latitude   Longitude
35           Canada  56.130366 -106.346771
45            China  35.861660  104.195397
53          Germany  51.165691   10.451526
71           France  46.227638    2.213749
73   United Kingdom  55.378051   -3.435973
102           India  20.593684   78.962880
107           Italy  41.871940   12.567380
111           Japan  36.204824  138.252924
227   United States  37.090240  -95.712891

In [42]:
debt_file = "./Resources/Debt.csv"
new_df = pd.read_csv(debt_file, skiprows=3)
new_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.223994,44.395868,49.407347,46.432894,52.280942,59.712221,61.930117,103.698242,NaN,NaN
265,Zimbabwe,ZWE,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
columns = new_df[['Country Name', 'Indicator Name', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']]
columns

,Country Name,Indicator Name,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.","Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,"Central government debt, total (% of GDP)",23.488919,24.223994,44.395868,49.407347,46.432894,52.280942,59.712221,61.930117,103.698242
265,Zimbabwe,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
country = columns.loc[new_df['Country Name'].isin(['United States', 'China', 'Japan', 'Germany', 'India', 'United Kingdom', 'France', 'Italy', 'Canada', 'Korea, Rep.'])]
country

,Country Name,Indicator Name,2012,2013,2014,2015,2016,2017,2018,2019,2020
35,Canada,"Central government debt, total (% of GDP)",54.926240,51.842950,50.330719,54.651479,52.808668,50.225797,48.181531,48.011633,72.085823
40,China,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Germany,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,France,"Central government debt, total (% of GDP)",90.279749,90.968544,97.554384,97.980333,102.262045,102.215265,101.622134,104.986432,123.013553
81,United Kingdom,"Central government debt, total (% of GDP)",147.017903,141.557856,150.575979,147.610981,156.004943,161.088591,157.803663,160.020247,195.392289
109,India,"Central government debt, total (% of GDP)",50.678031,50.311827,49.900925,49.964718,47.633756,47.583609,46.522499,NaN,NaN
116,Italy,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Japan,"Central government debt, total (% of GDP)",183.708907,186.564297,192.113217,194.585437,193.237125,193.493969,197.446313,197.801899,216.278885
126,"Korea, Rep.","Central government debt, total (% of GDP)",32.409021,34.929859,36.500264,37.492957,38.065514,37.348635,37.555643,39.969480,46.431597
251,United States,"Central government debt, total (% of GDP)",93.649262,95.534688,95.766699,96.425228,98.504102,97.774934,99.149584,100.902573,126.390496

In [44]:
columns.replace('..', np.nan, inplace=True)

drop2_df = columns.dropna(how='any')
drop2_df

C:\Users\kls4f\AppData\Local\Temp\ipykernel_14404\94783176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  columns.replace('..', np.nan, inplace=True)

,Country Name,Indicator Name,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Albania,"Central government debt, total (% of GDP)",63.669153,70.580770,73.320227,79.864418,80.735582,75.888752,64.570326,75.698488,84.058619
13,Australia,"Central government debt, total (% of GDP)",39.456437,37.578897,41.741540,46.506664,54.690390,53.280878,54.485614,60.247928,69.413798
14,Austria,"Central government debt, total (% of GDP)",90.600388,87.696599,95.799629,95.084266,94.694637,89.405409,84.164458,83.053867,99.913086
17,Belgium,"Central government debt, total (% of GDP)",104.028499,101.564361,112.309060,108.591309,110.196201,103.883628,101.393257,103.377523,119.425356
21,Bulgaria,"Central government debt, total (% of GDP)",21.795405,22.057051,32.500656,30.841312,35.528374,32.216959,28.685916,26.923553,32.243334
23,"Bahamas, The","Central government debt, total (% of GDP)",36.449493,44.395530,46.171482,47.524950,50.401078,53.004847,56.783542,57.054287,84.449920
29,Brazil,"Central government debt, total (% of GDP)",59.849490,57.228409,58.457271,67.537554,73.418804,83.669203,86.607884,92.565253,100.586637
32,Bhutan,"Central government debt, total (% of GDP)",74.242212,98.444885,93.110335,88.502684,100.778044,101.289706,101.193502,97.485292,117.329759
33,Botswana,"Central government debt, total (% of GDP)",20.623181,19.016381,18.325734,19.086978,15.804952,14.680769,15.230715,16.222932,19.655857
35,Canada,"Central government debt, total (% of GDP)",54.926240,51.842950,50.330719,54.651479,52.808668,50.225797,48.181531,48.011633,72.085823
37,Switzerland,"Central government debt, total (% of GDP)",21.344496,20.218157,20.611243,20.439295,19.380993,20.284412,18.678119,18.954260,20.910889
45,Colombia,"Central government debt, total (% of GDP)",65.227696,67.102912,47.976170,53.278587,66.907161,66.727248,71.650435,72.702261,90.403566
64,Europe & Central Asia (excluding high income),"Central government debt, total (% of GDP)",19.469888,17.987575,20.345787,21.945159,22.826654,23.630745,23.175035,24.716166,31.382720
70,Spain,"Central government debt, total (% of GDP)",74.111651,87.505182,100.647325,100.932160,102.731810,103.577136,104.742145,108.994833,141.216988
71,Estonia,"Central government debt, total (% of GDP)",13.552174,13.798476,13.954851,13.122740,14.070777,13.425576,13.458570,14.053084,23.769905
77,France,"Central government debt, total (% of GDP)",90.279749,90.968544,97.554384,97.980333,102.262045,102.215265,101.622134,104.986432,123.013553
79,"Micronesia, Fed. Sts.","Central government debt, total (% of GDP)",27.115172,26.323024,23.389735,29.943145,25.391777,30.936540,23.112357,23.096284,25.404513
81,United Kingdom,"Central government debt, total (% of GDP)",147.017903,141.557856,150.575979,147.610981,156.004943,161.088591,157.803663,160.020247,195.392289
82,Georgia,"Central government debt, total (% of GDP)",28.796098,29.499425,30.976096,36.650656,40.268724,39.392467,38.887743,45.153506,65.884413
89,Greece,"Central government debt, total (% of GDP)",168.027201,185.743826,189.294441,189.158854,194.620198,198.965312,208.838440,212.375639,252.286155
92,Guatemala,"Central government debt, total (% of GDP)",24.700742,25.209950,24.792686,24.920177,25.034991,21.064131,26.483325,26.487725,31.562783
95,High income,"Central government debt, total (% of GDP)",100.227334,100.458769,104.334009,104.911112,106.991841,106.635412,107.366354,109.161086,131.510318
99,Croatia,"Central government debt, total (% of GDP)",83.193020,94.012581,100.209491,102.386864,99.785505,92.628719,89.451647,87.080891,104.890985
101,Hungary,"Central government debt, total (% of GDP)",94.147513,94.733190,98.671331,96.397354,96.777624,91.987225,86.550688,83.289402,96.108897
106,Indonesia,"Central government debt, total (% of GDP)",25.034401,27.781927,27.421612,30.309126,31.366191,32.429067,33.139419,33.729156,42.916624
111,Ireland,"Central government debt, total (% of GDP)",129.722665,131.782112,121.208038,88.557920,85.333252,76.706923,75.185084,69.696046,71.581262
114,Iceland,"Central government debt, total (% of GDP)",152.739625,140.954580,135.796522,117.370840,103.362423,90.444487,81.951970,89.588743,100.016989
119,Japan,"Central government debt, total (% of GDP)",183.708907,186.564297,192.113217,194.585437,193.237125,193.493969,197.446313,197.801899,216.278885
120,Kazakhstan,"Central government debt, total (% of GDP)",10.498114,10.840639,12.646970,19.307916,16.769425,16.930358,21.992237,18.483047,26.633967
126,"Korea, Rep.","Central government debt, total (% of GDP)",32.409021,34.929859,36.500264,37.492957,38.065514,37.348635,37.555643,39.969480,46.431597
143,Lithuania,"Central government debt, total (% of GDP)",47.198608,44.835916,48.332010,49.645691,47.741694,44.977570,39.003629,42.662212,53.284454
150,Moldova,"Central government debt, total (% of GDP)",20.347139,19.917952,20.826536,23.471386,31.885669,29.190909,27.018332,24.952364,33.013660
169,Malaysia,"Central government debt, total (% of GDP)",51.646432,52.999252,52.675849,53.574478,51.890515,50.049672,51.185902,52.421342,62.028188
170,North America,"Central government debt, total (% of GDP)",90.343187,91.804397,91.887488,92.858690,94.602740,93.715307,94.798059,96.386876,121.754098
180,New Zealand,"Central government debt, total (% of GDP)",51.657693,46.450323,43.915548,42.939841,41.416569,38.652082,36.612395,32.698346,46.328259
181,OECD members,"Central government debt, total (% of GDP)",98.767416,99.900706,102.494529,103.016017,105.158975,104.830021,105.579585,107.329913,129.329976
186,Peru,"Central government debt, total (% of GDP)",19.216659,18.394420,19.565390,22.865554,23.706256,24.667543,25.698548,26.543801,34.668979
198,Post-demographic dividend,"Central government debt, total (% of GDP)",100.117622,101.375519,104.409094,105.240323,107.345732,107.045747,107.766671,109.568160,132.192273
201,Romania,"Central government debt, total (% of GDP)",40.388243,43.882701,46.269344,45.169915,47.279933,44.327075,42.562104,43.205296,57.108493
202,Russian Federation,"Central government debt, total (% of GDP)",8.551409,9.067256,11.200461,13.540766,14.241740,16.325374,16.168579,17.276048,23.049349
208,Singapore,"Central government debt, total (% of GDP)",107.828094,99.446489,99.609799,103.320840,109.135825,109.351726,110.730071,128.309259,153.411254
209,Solomon Islands,"Central government debt, total (% of GDP)",11.592439,10.105282,8.720340,6.737626,6.259589,8.402458,7.685646,7.744183,11.463900
211,El Salvador,"Central government debt, total (% of GDP)",54.852340,62.399277,50.837954,51.278403,52.065656,55.248519,52.214282,53.879039,71.410600
212,San Marino,"Central government debt, total (% of GDP)",51.217722,54.023014,53.324559,56.930229,57.328088,54.593445,55.940455,55.085318,98.347621
221,Slovak Republic,"Central government debt, total (% of GDP)",58.487752,63.210771,65.881086,64.834486,66.415862,64.353881,62.290376,61.987419,77.361304
223,Sweden,"Central government debt, total (% of GDP)",43.510248,45.169542,49.454509,47.434321,46.188056,43.964988,42.282676,38.693612,43.995183
231,Europe & Central Asia (IDA & IBRD countries),"Central government debt, total (% of GDP)",21.660814,20.668025,23.083995,24.541272,25.422000,25.889130,25.316839,26.738334,34.034303
244,Turkiye,"Central government debt, total (% of GDP)",37.960229,32.121645,31.346417,29.060064,30.073550,29.855754,29.412914,34.132004,41.970260
248,Ukraine,"Central government debt, total (% of GDP)",32.445912,35.631400,63.665319,70.258838,71.809545,66.734647,56.905951,48.327270,58.716185
250,Uruguay,"Central government debt, total (% of GDP)",43.403450,42.740851,44.357961,51.186480,46.656630,45.616171,47.950130,50.942903,60.399833
251,United States,"Central government debt, total (% of GDP)",93.649262,95.534688,95.766699,96.425228,98.504102,97.774934,99.149584,100.902573,126.390496
264,Zambia,"Central government debt, total (% of GDP)",23.488919,24.223994,44.395868,49.407347,46.432894,52.280942,59.712221,61.930117,103.698242

In [36]:
protocol = 'postgresql'
username = 'username'
password = 'password'
host = 'host'
port = 5432
database_name = 'project3_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
engine.table_names()

In [ ]:
gdp.to_sql(name='gdp',con=engine,if_exists='append',index=False)

In [ ]:
gni.to_sql(name='gni',con=engine,if_exists='append',index=False)

In [ ]:
coordinates.to_sql(name='coordinates',con=engine,if_exists='append',index=False)

In [ ]:
debt.to_sql(name='debt',con=engine,if_exists='append',index=False)