In [1]:
import pandas as pd 
import json
from sqlalchemy import create_engine

In [2]:
csv_file = "./Resources/GDP.csv"
gdp_df = pd.read_csv(csv_file)
gdp_df

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,..,..,20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,2028553750,3480355258,12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,62048562947,54790392746,2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,..,..,640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,1029048482,1429049198,3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data_df = gdp_df[['Country Name', 'Series Name', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]']].copy()
data_df

,Country Name,Series Name,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Afghanistan,GDP (current US$),20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,Albania,GDP (current US$),12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,Algeria,GDP (current US$),2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,American Samoa,GDP (current US$),640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,Andorra,GDP (current US$),3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,NaN,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,NaN,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
drop_df = data_df.dropna(how='any')
drop_df

,Country Name,Series Name,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Afghanistan,GDP (current US$),20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,Albania,GDP (current US$),12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,Algeria,GDP (current US$),2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,American Samoa,GDP (current US$),640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,Andorra,GDP (current US$),3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...
527,Sub-Saharan Africa,GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
528,Sub-Saharan Africa (excluding high income),GNI (current US$),1.62311E+12,1.72215E+12,1.82379E+12,1.63642E+12,1.53012E+12,1.64758E+12,1.70834E+12,1.73642E+12,1.66017E+12,1.85488E+12
529,Sub-Saharan Africa (IDA & IBRD countries),GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
530,Upper middle income,GNI (current US$),1.85962E+13,1.99254E+13,2.06713E+13,1.94011E+13,1.92794E+13,2.13852E+13,2.29617E+13,2.3359E+13,2.25268E+13,2.66712E+13
531,World,GNI (current US$),7.55706E+13,7.75443E+13,7.99475E+13,7.53454E+13,7.64931E+13,8.1557E+13,8.65047E+13,8.77246E+13,8.51745E+13,9.64197E+13

In [11]:
unique = drop_df["Country Name"].unique()
unique

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe',
       'Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World'], dtype=object)

In [13]:
clean_df = drop_df.loc[drop_df['Country Name'].isin(['Luxembourg', 'Ireland', 'Norway', 'Switzerland', 'Qatar', 'Brunei Darussalam', 'Singapore', 'United States', 'Iceland', 'Denmark'])]
clean_df

,Country Name,Series Name,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
28,Brunei Darussalam,GDP (current US$),19047940301,18093829923,17098342541,12930394938,11400854268,12128104859,13567351175,13469422959,12005825759,14006569576
53,Denmark,GDP (current US$),3.27149E+11,3.43584E+11,3.52994E+11,3.02673E+11,3.13116E+11,3.32121E+11,3.56841E+11,3.46499E+11,3.55222E+11,3.98303E+11
88,Iceland,GDP (current US$),14751508134,16125060515,17867662178,17517210519,20793168031,24728285177,26264127687,24826102120,21694674810,25602419210
93,Ireland,GDP (current US$),2.25629E+11,2.38341E+11,2.59171E+11,2.91775E+11,2.99091E+11,3.36378E+11,3.85737E+11,3.99322E+11,4.25852E+11,5.04183E+11
116,Luxembourg,GDP (current US$),59776383527,65203276467,68804811898,60071584216,62216885436,65712180343,71000359760,69825641851,73992591285,85506243834
147,Norway,GDP (current US$),5.09506E+11,5.22762E+11,4.9841E+11,3.85802E+11,3.68827E+11,3.98394E+11,4.37E+11,4.04941E+11,3.62198E+11,4.82175E+11
159,Qatar,GDP (current US$),1.86834E+11,1.98728E+11,2.06225E+11,1.6174E+11,1.51732E+11,1.61099E+11,1.83335E+11,1.75838E+11,1.44411E+11,1.79677E+11
171,Singapore,GDP (current US$),2.95087E+11,3.07576E+11,3.14851E+11,3.08004E+11,3.18832E+11,3.43193E+11,3.76998E+11,3.75473E+11,3.45296E+11,3.96987E+11
188,Switzerland,GDP (current US$),6.8642E+11,7.06235E+11,7.26538E+11,6.94118E+11,6.87895E+11,6.95201E+11,7.25569E+11,7.21369E+11,7.39914E+11,8.0064E+11
206,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13
294,Brunei Darussalam,GNI (current US$),18590749040,17893222506,17082872928,13580987708,12235956707,12848520530,13651197272,13830513708,12367616148,14096219676
319,Denmark,GNI (current US$),3.34536E+11,3.54464E+11,3.65834E+11,3.11964E+11,3.20813E+11,3.39391E+11,3.66755E+11,3.5654E+11,3.66699E+11,4.1208E+11
354,Iceland,GNI (current US$),12884269290,15287504222,16897076236,16543802058,19826589745,23965940756,24925636306,24634234578,21074087066,24377259095
359,Ireland,GNI (current US$),1.82483E+11,2.01478E+11,2.19223E+11,2.24609E+11,2.43913E+11,2.67503E+11,2.99137E+11,3.10166E+11,3.2058E+11,3.82594E+11
382,Luxembourg,GNI (current US$),45915520598,46779637636,49979926557,38657980989,41225831606,47031112675,50751283868,47012779829,51101739695,59692666902
413,Norway,GNI (current US$),5.1383E+11,5.28332E+11,5.14173E+11,4.01834E+11,3.84964E+11,4.13028E+11,4.53417E+11,4.17418E+11,3.76702E+11,5.03287E+11
425,Qatar,GNI (current US$),1.74709E+11,1.88364E+11,1.96924E+11,1.58175E+11,1.50623E+11,1.6068E+11,1.7959E+11,1.71428E+11,1.41367E+11,1.76914E+11
437,Singapore,GNI (current US$),2.81965E+11,2.9101E+11,3.03899E+11,2.86988E+11,2.99291E+11,3.17256E+11,3.31176E+11,3.28531E+11,2.99066E+11,3.49154E+11
454,Switzerland,GNI (current US$),7.06067E+11,7.26595E+11,7.3567E+11,7.10792E+11,6.92675E+11,6.94939E+11,7.0613E+11,7.05462E+11,7.25286E+11,7.97465E+11
472,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [14]:
coords_file = "./Resources/Coordinates.csv"
place_df = pd.read_csv(coords_file, skiprows=0)
place_df

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]