In [1]:
import pandas as pd 
import json
from sqlalchemy import create_engine
import numpy as np
from config import pw

In [2]:
csv_file = "./Resources/GDP.csv"
gdp_df = pd.read_csv(csv_file)
gdp_df

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,..,..,20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,2028553750,3480355258,12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,62048562947,54790392746,2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,..,..,640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,1029048482,1429049198,3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data_df = gdp_df[['Country Name', 'Series Name', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]']].copy()
data_df

,Country Name,Series Name,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Afghanistan,GDP (current US$),20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,Albania,GDP (current US$),12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,Algeria,GDP (current US$),2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,American Samoa,GDP (current US$),640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,Andorra,GDP (current US$),3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,NaN,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,NaN,Last Updated: 12/22/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_df.replace('..', np.nan, inplace=True)

drop_df = data_df.dropna(how='any')
drop_df

,Country Name,Series Name,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Afghanistan,GDP (current US$),20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,Albania,GDP (current US$),12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,Algeria,GDP (current US$),2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,American Samoa,GDP (current US$),640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,Andorra,GDP (current US$),3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...
527,Sub-Saharan Africa,GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
528,Sub-Saharan Africa (excluding high income),GNI (current US$),1.62311E+12,1.72215E+12,1.82379E+12,1.63642E+12,1.53012E+12,1.64758E+12,1.70834E+12,1.73642E+12,1.66017E+12,1.85488E+12
529,Sub-Saharan Africa (IDA & IBRD countries),GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
530,Upper middle income,GNI (current US$),1.85962E+13,1.99254E+13,2.06713E+13,1.94011E+13,1.92794E+13,2.13852E+13,2.29617E+13,2.3359E+13,2.25268E+13,2.66712E+13
531,World,GNI (current US$),7.55706E+13,7.75443E+13,7.99475E+13,7.53454E+13,7.64931E+13,8.1557E+13,8.65047E+13,8.77246E+13,8.51745E+13,9.64197E+13

In [5]:
rename_df = drop_df.rename(columns = {"2012 [YR2012]":"2012",
                         "2013 [YR2013]":"2013", 
                         "2014 [YR2014]":"2014", 
                         "2015 [YR2015]":"2015", 
                         "2016 [YR2016]":"2016",
                         "2017 [YR2017]":"2017",
                         "2018 [YR2018]":"2018",
                         "2019 [YR2019]":"2019",
                         "2020 [YR2020]":"2020",
                         "2021 [YR2021]":"2021"})
rename_df

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,GDP (current US$),20203572960,20564485419,20550582747,19998156214,18019558182,18896352022,18418848300,18904490263,20143442151,14786861638
1,Albania,GDP (current US$),12319830437,12776220507,13228147516,11386850130,11861199831,13019689337,15156432310,15401830754,15131866271,18255787479
2,Algeria,GDP (current US$),2.09059E+11,2.09755E+11,2.1381E+11,1.65979E+11,1.60034E+11,1.70097E+11,1.74911E+11,1.71767E+11,1.45009E+11,1.63044E+11
3,American Samoa,GDP (current US$),640000000,638000000,643000000,673000000,671000000,612000000,639000000,647000000,716000000,709000000
4,Andorra,GDP (current US$),3188808943,3193704343,3271808157,2789870188,2896679212,3000180750,3218316013,3155065488,2891022273,3330281524
...,...,...,...,...,...,...,...,...,...,...,...,...
527,Sub-Saharan Africa,GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
528,Sub-Saharan Africa (excluding high income),GNI (current US$),1.62311E+12,1.72215E+12,1.82379E+12,1.63642E+12,1.53012E+12,1.64758E+12,1.70834E+12,1.73642E+12,1.66017E+12,1.85488E+12
529,Sub-Saharan Africa (IDA & IBRD countries),GNI (current US$),1.6241E+12,1.7234E+12,1.82508E+12,1.63773E+12,1.53148E+12,1.64902E+12,1.70985E+12,1.73799E+12,1.66137E+12,1.85625E+12
530,Upper middle income,GNI (current US$),1.85962E+13,1.99254E+13,2.06713E+13,1.94011E+13,1.92794E+13,2.13852E+13,2.29617E+13,2.3359E+13,2.25268E+13,2.66712E+13
531,World,GNI (current US$),7.55706E+13,7.75443E+13,7.99475E+13,7.53454E+13,7.64931E+13,8.1557E+13,8.65047E+13,8.77246E+13,8.51745E+13,9.64197E+13

In [6]:
numbers = rename_df.loc[drop_df['Country Name'].isin(['United States', 'China', 'Japan', 'Germany', 'India', 'United Kingdom', 'France', 'Italy', 'Canada', 'Korea, Rep.'])]
numbers

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
35,Canada,GDP (current US$),1.82837E+12,1.8466E+12,1.80575E+12,1.55651E+12,1.52799E+12,1.64927E+12,1.72533E+12,1.74202E+12,1.64542E+12,1.98834E+12
41,China,GDP (current US$),8.53223E+12,9.57041E+12,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.46877E+13,1.77341E+13
68,France,GDP (current US$),2.68367E+12,2.81188E+12,2.85596E+12,2.43919E+12,2.47296E+12,2.59515E+12,2.79096E+12,2.72887E+12,2.63901E+12,2.95788E+12
73,Germany,GDP (current US$),3.52714E+12,3.7338E+12,3.88909E+12,3.35759E+12,3.46985E+12,3.69085E+12,3.97444E+12,3.88823E+12,3.88967E+12,4.25993E+12
89,India,GDP (current US$),1.82764E+12,1.85672E+12,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70293E+12,2.83155E+12,2.66769E+12,3.1763E+12
96,Italy,GDP (current US$),2.08696E+12,2.14192E+12,2.16201E+12,1.83664E+12,1.87707E+12,1.9618E+12,2.09193E+12,2.0113E+12,1.89676E+12,2.1077E+12
98,Japan,GDP (current US$),6.27236E+12,5.21233E+12,4.89699E+12,4.44493E+12,5.00368E+12,4.93084E+12,5.03784E+12,5.12332E+12,5.04011E+12,4.94088E+12
104,"Korea, Rep.",GDP (current US$),1.27843E+12,1.3708E+12,1.48432E+12,1.46577E+12,1.50011E+12,1.6239E+12,1.72485E+12,1.65142E+12,1.64431E+12,1.81096E+12
205,United Kingdom,GDP (current US$),2.70634E+12,2.78632E+12,3.06522E+12,2.93486E+12,2.69966E+12,2.6834E+12,2.87815E+12,2.85706E+12,2.70461E+12,3.13138E+12
206,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13
301,Canada,GNI (current US$),1.79592E+12,1.81847E+12,1.77657E+12,1.53266E+12,1.50933E+12,1.62829E+12,1.696E+12,1.71964E+12,1.62705E+12,1.97418E+12
307,China,GNI (current US$),8.51241E+12,9.49258E+12,1.0489E+13,1.10088E+13,1.11776E+13,1.22943E+13,1.38338E+13,1.42399E+13,1.45701E+13,1.75723E+13
334,France,GNI (current US$),2.74235E+12,2.87486E+12,2.91786E+12,2.49186E+12,2.52528E+12,2.65381E+12,2.85566E+12,2.78742E+12,2.67999E+12,3.04518E+12
339,Germany,GNI (current US$),3.61177E+12,3.82026E+12,3.96701E+12,3.4341E+12,3.55593E+12,3.77879E+12,4.10843E+12,4.01908E+12,4.00419E+12,4.41103E+12
355,India,GNI (current US$),1.80618E+12,1.8336E+12,2.01502E+12,2.07918E+12,2.24794E+12,2.6228E+12,2.67399E+12,2.80431E+12,2.63176E+12,3.12686E+12
362,Italy,GNI (current US$),2.08441E+12,2.13821E+12,2.1622E+12,1.82394E+12,1.88246E+12,1.97274E+12,2.11504E+12,2.02835E+12,1.92049E+12,2.14547E+12
364,Japan,GNI (current US$),6.44554E+12,5.39161E+12,5.07902E+12,4.61977E+12,5.17779E+12,5.11325E+12,5.23063E+12,5.32345E+12,5.22289E+12,5.1293E+12
370,"Korea, Rep.",GNI (current US$),1.2918E+12,1.37953E+12,1.4915E+12,1.47036E+12,1.5056E+12,1.63052E+12,1.73179E+12,1.66568E+12,1.65867E+12,1.83112E+12
471,United Kingdom,GNI (current US$),2.68121E+12,2.73688E+12,3.01043E+12,2.87105E+12,2.63654E+12,2.65451E+12,2.83892E+12,2.85588E+12,2.64385E+12,3.1177E+12
472,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [7]:
numbers.reset_index(inplace=True)
numbers

,index,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,35,Canada,GDP (current US$),1.82837E+12,1.8466E+12,1.80575E+12,1.55651E+12,1.52799E+12,1.64927E+12,1.72533E+12,1.74202E+12,1.64542E+12,1.98834E+12
1,41,China,GDP (current US$),8.53223E+12,9.57041E+12,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.46877E+13,1.77341E+13
2,68,France,GDP (current US$),2.68367E+12,2.81188E+12,2.85596E+12,2.43919E+12,2.47296E+12,2.59515E+12,2.79096E+12,2.72887E+12,2.63901E+12,2.95788E+12
3,73,Germany,GDP (current US$),3.52714E+12,3.7338E+12,3.88909E+12,3.35759E+12,3.46985E+12,3.69085E+12,3.97444E+12,3.88823E+12,3.88967E+12,4.25993E+12
4,89,India,GDP (current US$),1.82764E+12,1.85672E+12,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70293E+12,2.83155E+12,2.66769E+12,3.1763E+12
5,96,Italy,GDP (current US$),2.08696E+12,2.14192E+12,2.16201E+12,1.83664E+12,1.87707E+12,1.9618E+12,2.09193E+12,2.0113E+12,1.89676E+12,2.1077E+12
6,98,Japan,GDP (current US$),6.27236E+12,5.21233E+12,4.89699E+12,4.44493E+12,5.00368E+12,4.93084E+12,5.03784E+12,5.12332E+12,5.04011E+12,4.94088E+12
7,104,"Korea, Rep.",GDP (current US$),1.27843E+12,1.3708E+12,1.48432E+12,1.46577E+12,1.50011E+12,1.6239E+12,1.72485E+12,1.65142E+12,1.64431E+12,1.81096E+12
8,205,United Kingdom,GDP (current US$),2.70634E+12,2.78632E+12,3.06522E+12,2.93486E+12,2.69966E+12,2.6834E+12,2.87815E+12,2.85706E+12,2.70461E+12,3.13138E+12
9,206,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13
10,301,Canada,GNI (current US$),1.79592E+12,1.81847E+12,1.77657E+12,1.53266E+12,1.50933E+12,1.62829E+12,1.696E+12,1.71964E+12,1.62705E+12,1.97418E+12
11,307,China,GNI (current US$),8.51241E+12,9.49258E+12,1.0489E+13,1.10088E+13,1.11776E+13,1.22943E+13,1.38338E+13,1.42399E+13,1.45701E+13,1.75723E+13
12,334,France,GNI (current US$),2.74235E+12,2.87486E+12,2.91786E+12,2.49186E+12,2.52528E+12,2.65381E+12,2.85566E+12,2.78742E+12,2.67999E+12,3.04518E+12
13,339,Germany,GNI (current US$),3.61177E+12,3.82026E+12,3.96701E+12,3.4341E+12,3.55593E+12,3.77879E+12,4.10843E+12,4.01908E+12,4.00419E+12,4.41103E+12
14,355,India,GNI (current US$),1.80618E+12,1.8336E+12,2.01502E+12,2.07918E+12,2.24794E+12,2.6228E+12,2.67399E+12,2.80431E+12,2.63176E+12,3.12686E+12
15,362,Italy,GNI (current US$),2.08441E+12,2.13821E+12,2.1622E+12,1.82394E+12,1.88246E+12,1.97274E+12,2.11504E+12,2.02835E+12,1.92049E+12,2.14547E+12
16,364,Japan,GNI (current US$),6.44554E+12,5.39161E+12,5.07902E+12,4.61977E+12,5.17779E+12,5.11325E+12,5.23063E+12,5.32345E+12,5.22289E+12,5.1293E+12
17,370,"Korea, Rep.",GNI (current US$),1.2918E+12,1.37953E+12,1.4915E+12,1.47036E+12,1.5056E+12,1.63052E+12,1.73179E+12,1.66568E+12,1.65867E+12,1.83112E+12
18,471,United Kingdom,GNI (current US$),2.68121E+12,2.73688E+12,3.01043E+12,2.87105E+12,2.63654E+12,2.65451E+12,2.83892E+12,2.85588E+12,2.64385E+12,3.1177E+12
19,472,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [8]:
numbers.drop("index", axis=1, inplace=True)
numbers

C:\Users\kls4f\AppData\Local\Temp\ipykernel_1412\948012103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numbers.drop("index", axis=1, inplace=True)

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),1.82837E+12,1.8466E+12,1.80575E+12,1.55651E+12,1.52799E+12,1.64927E+12,1.72533E+12,1.74202E+12,1.64542E+12,1.98834E+12
1,China,GDP (current US$),8.53223E+12,9.57041E+12,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.46877E+13,1.77341E+13
2,France,GDP (current US$),2.68367E+12,2.81188E+12,2.85596E+12,2.43919E+12,2.47296E+12,2.59515E+12,2.79096E+12,2.72887E+12,2.63901E+12,2.95788E+12
3,Germany,GDP (current US$),3.52714E+12,3.7338E+12,3.88909E+12,3.35759E+12,3.46985E+12,3.69085E+12,3.97444E+12,3.88823E+12,3.88967E+12,4.25993E+12
4,India,GDP (current US$),1.82764E+12,1.85672E+12,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70293E+12,2.83155E+12,2.66769E+12,3.1763E+12
5,Italy,GDP (current US$),2.08696E+12,2.14192E+12,2.16201E+12,1.83664E+12,1.87707E+12,1.9618E+12,2.09193E+12,2.0113E+12,1.89676E+12,2.1077E+12
6,Japan,GDP (current US$),6.27236E+12,5.21233E+12,4.89699E+12,4.44493E+12,5.00368E+12,4.93084E+12,5.03784E+12,5.12332E+12,5.04011E+12,4.94088E+12
7,"Korea, Rep.",GDP (current US$),1.27843E+12,1.3708E+12,1.48432E+12,1.46577E+12,1.50011E+12,1.6239E+12,1.72485E+12,1.65142E+12,1.64431E+12,1.81096E+12
8,United Kingdom,GDP (current US$),2.70634E+12,2.78632E+12,3.06522E+12,2.93486E+12,2.69966E+12,2.6834E+12,2.87815E+12,2.85706E+12,2.70461E+12,3.13138E+12
9,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13
10,Canada,GNI (current US$),1.79592E+12,1.81847E+12,1.77657E+12,1.53266E+12,1.50933E+12,1.62829E+12,1.696E+12,1.71964E+12,1.62705E+12,1.97418E+12
11,China,GNI (current US$),8.51241E+12,9.49258E+12,1.0489E+13,1.10088E+13,1.11776E+13,1.22943E+13,1.38338E+13,1.42399E+13,1.45701E+13,1.75723E+13
12,France,GNI (current US$),2.74235E+12,2.87486E+12,2.91786E+12,2.49186E+12,2.52528E+12,2.65381E+12,2.85566E+12,2.78742E+12,2.67999E+12,3.04518E+12
13,Germany,GNI (current US$),3.61177E+12,3.82026E+12,3.96701E+12,3.4341E+12,3.55593E+12,3.77879E+12,4.10843E+12,4.01908E+12,4.00419E+12,4.41103E+12
14,India,GNI (current US$),1.80618E+12,1.8336E+12,2.01502E+12,2.07918E+12,2.24794E+12,2.6228E+12,2.67399E+12,2.80431E+12,2.63176E+12,3.12686E+12
15,Italy,GNI (current US$),2.08441E+12,2.13821E+12,2.1622E+12,1.82394E+12,1.88246E+12,1.97274E+12,2.11504E+12,2.02835E+12,1.92049E+12,2.14547E+12
16,Japan,GNI (current US$),6.44554E+12,5.39161E+12,5.07902E+12,4.61977E+12,5.17779E+12,5.11325E+12,5.23063E+12,5.32345E+12,5.22289E+12,5.1293E+12
17,"Korea, Rep.",GNI (current US$),1.2918E+12,1.37953E+12,1.4915E+12,1.47036E+12,1.5056E+12,1.63052E+12,1.73179E+12,1.66568E+12,1.65867E+12,1.83112E+12
18,United Kingdom,GNI (current US$),2.68121E+12,2.73688E+12,3.01043E+12,2.87105E+12,2.63654E+12,2.65451E+12,2.83892E+12,2.85588E+12,2.64385E+12,3.1177E+12
19,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [9]:

numbers.loc[17, 'Country Name'] = "South Korea"
numbers

C:\Users\kls4f\AppData\Local\Temp\ipykernel_1412\773218037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numbers.loc[17, 'Country Name'] = "South Korea"

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),1.82837E+12,1.8466E+12,1.80575E+12,1.55651E+12,1.52799E+12,1.64927E+12,1.72533E+12,1.74202E+12,1.64542E+12,1.98834E+12
1,China,GDP (current US$),8.53223E+12,9.57041E+12,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.46877E+13,1.77341E+13
2,France,GDP (current US$),2.68367E+12,2.81188E+12,2.85596E+12,2.43919E+12,2.47296E+12,2.59515E+12,2.79096E+12,2.72887E+12,2.63901E+12,2.95788E+12
3,Germany,GDP (current US$),3.52714E+12,3.7338E+12,3.88909E+12,3.35759E+12,3.46985E+12,3.69085E+12,3.97444E+12,3.88823E+12,3.88967E+12,4.25993E+12
4,India,GDP (current US$),1.82764E+12,1.85672E+12,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70293E+12,2.83155E+12,2.66769E+12,3.1763E+12
5,Italy,GDP (current US$),2.08696E+12,2.14192E+12,2.16201E+12,1.83664E+12,1.87707E+12,1.9618E+12,2.09193E+12,2.0113E+12,1.89676E+12,2.1077E+12
6,Japan,GDP (current US$),6.27236E+12,5.21233E+12,4.89699E+12,4.44493E+12,5.00368E+12,4.93084E+12,5.03784E+12,5.12332E+12,5.04011E+12,4.94088E+12
7,"Korea, Rep.",GDP (current US$),1.27843E+12,1.3708E+12,1.48432E+12,1.46577E+12,1.50011E+12,1.6239E+12,1.72485E+12,1.65142E+12,1.64431E+12,1.81096E+12
8,United Kingdom,GDP (current US$),2.70634E+12,2.78632E+12,3.06522E+12,2.93486E+12,2.69966E+12,2.6834E+12,2.87815E+12,2.85706E+12,2.70461E+12,3.13138E+12
9,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13
10,Canada,GNI (current US$),1.79592E+12,1.81847E+12,1.77657E+12,1.53266E+12,1.50933E+12,1.62829E+12,1.696E+12,1.71964E+12,1.62705E+12,1.97418E+12
11,China,GNI (current US$),8.51241E+12,9.49258E+12,1.0489E+13,1.10088E+13,1.11776E+13,1.22943E+13,1.38338E+13,1.42399E+13,1.45701E+13,1.75723E+13
12,France,GNI (current US$),2.74235E+12,2.87486E+12,2.91786E+12,2.49186E+12,2.52528E+12,2.65381E+12,2.85566E+12,2.78742E+12,2.67999E+12,3.04518E+12
13,Germany,GNI (current US$),3.61177E+12,3.82026E+12,3.96701E+12,3.4341E+12,3.55593E+12,3.77879E+12,4.10843E+12,4.01908E+12,4.00419E+12,4.41103E+12
14,India,GNI (current US$),1.80618E+12,1.8336E+12,2.01502E+12,2.07918E+12,2.24794E+12,2.6228E+12,2.67399E+12,2.80431E+12,2.63176E+12,3.12686E+12
15,Italy,GNI (current US$),2.08441E+12,2.13821E+12,2.1622E+12,1.82394E+12,1.88246E+12,1.97274E+12,2.11504E+12,2.02835E+12,1.92049E+12,2.14547E+12
16,Japan,GNI (current US$),6.44554E+12,5.39161E+12,5.07902E+12,4.61977E+12,5.17779E+12,5.11325E+12,5.23063E+12,5.32345E+12,5.22289E+12,5.1293E+12
17,South Korea,GNI (current US$),1.2918E+12,1.37953E+12,1.4915E+12,1.47036E+12,1.5056E+12,1.63052E+12,1.73179E+12,1.66568E+12,1.65867E+12,1.83112E+12
18,United Kingdom,GNI (current US$),2.68121E+12,2.73688E+12,3.01043E+12,2.87105E+12,2.63654E+12,2.65451E+12,2.83892E+12,2.85588E+12,2.64385E+12,3.1177E+12
19,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [10]:
numbers.loc[7, 'Country Name'] = "South Korea"
numbers

C:\Users\kls4f\AppData\Local\Temp\ipykernel_1412\141077081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numbers.loc[7, 'Country Name'] = "South Korea"

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),1.82837E+12,1.8466E+12,1.80575E+12,1.55651E+12,1.52799E+12,1.64927E+12,1.72533E+12,1.74202E+12,1.64542E+12,1.98834E+12
1,China,GDP (current US$),8.53223E+12,9.57041E+12,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.46877E+13,1.77341E+13
2,France,GDP (current US$),2.68367E+12,2.81188E+12,2.85596E+12,2.43919E+12,2.47296E+12,2.59515E+12,2.79096E+12,2.72887E+12,2.63901E+12,2.95788E+12
3,Germany,GDP (current US$),3.52714E+12,3.7338E+12,3.88909E+12,3.35759E+12,3.46985E+12,3.69085E+12,3.97444E+12,3.88823E+12,3.88967E+12,4.25993E+12
4,India,GDP (current US$),1.82764E+12,1.85672E+12,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70293E+12,2.83155E+12,2.66769E+12,3.1763E+12
5,Italy,GDP (current US$),2.08696E+12,2.14192E+12,2.16201E+12,1.83664E+12,1.87707E+12,1.9618E+12,2.09193E+12,2.0113E+12,1.89676E+12,2.1077E+12
6,Japan,GDP (current US$),6.27236E+12,5.21233E+12,4.89699E+12,4.44493E+12,5.00368E+12,4.93084E+12,5.03784E+12,5.12332E+12,5.04011E+12,4.94088E+12
7,South Korea,GDP (current US$),1.27843E+12,1.3708E+12,1.48432E+12,1.46577E+12,1.50011E+12,1.6239E+12,1.72485E+12,1.65142E+12,1.64431E+12,1.81096E+12
8,United Kingdom,GDP (current US$),2.70634E+12,2.78632E+12,3.06522E+12,2.93486E+12,2.69966E+12,2.6834E+12,2.87815E+12,2.85706E+12,2.70461E+12,3.13138E+12
9,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13
10,Canada,GNI (current US$),1.79592E+12,1.81847E+12,1.77657E+12,1.53266E+12,1.50933E+12,1.62829E+12,1.696E+12,1.71964E+12,1.62705E+12,1.97418E+12
11,China,GNI (current US$),8.51241E+12,9.49258E+12,1.0489E+13,1.10088E+13,1.11776E+13,1.22943E+13,1.38338E+13,1.42399E+13,1.45701E+13,1.75723E+13
12,France,GNI (current US$),2.74235E+12,2.87486E+12,2.91786E+12,2.49186E+12,2.52528E+12,2.65381E+12,2.85566E+12,2.78742E+12,2.67999E+12,3.04518E+12
13,Germany,GNI (current US$),3.61177E+12,3.82026E+12,3.96701E+12,3.4341E+12,3.55593E+12,3.77879E+12,4.10843E+12,4.01908E+12,4.00419E+12,4.41103E+12
14,India,GNI (current US$),1.80618E+12,1.8336E+12,2.01502E+12,2.07918E+12,2.24794E+12,2.6228E+12,2.67399E+12,2.80431E+12,2.63176E+12,3.12686E+12
15,Italy,GNI (current US$),2.08441E+12,2.13821E+12,2.1622E+12,1.82394E+12,1.88246E+12,1.97274E+12,2.11504E+12,2.02835E+12,1.92049E+12,2.14547E+12
16,Japan,GNI (current US$),6.44554E+12,5.39161E+12,5.07902E+12,4.61977E+12,5.17779E+12,5.11325E+12,5.23063E+12,5.32345E+12,5.22289E+12,5.1293E+12
17,South Korea,GNI (current US$),1.2918E+12,1.37953E+12,1.4915E+12,1.47036E+12,1.5056E+12,1.63052E+12,1.73179E+12,1.66568E+12,1.65867E+12,1.83112E+12
18,United Kingdom,GNI (current US$),2.68121E+12,2.73688E+12,3.01043E+12,2.87105E+12,2.63654E+12,2.65451E+12,2.83892E+12,2.85588E+12,2.64385E+12,3.1177E+12
19,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [11]:
data = numbers[numbers["Series Name"] == "GDP (current US$)"]
data

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),1.82837E+12,1.8466E+12,1.80575E+12,1.55651E+12,1.52799E+12,1.64927E+12,1.72533E+12,1.74202E+12,1.64542E+12,1.98834E+12
1,China,GDP (current US$),8.53223E+12,9.57041E+12,1.04757E+13,1.10616E+13,1.12333E+13,1.23104E+13,1.38948E+13,1.42799E+13,1.46877E+13,1.77341E+13
2,France,GDP (current US$),2.68367E+12,2.81188E+12,2.85596E+12,2.43919E+12,2.47296E+12,2.59515E+12,2.79096E+12,2.72887E+12,2.63901E+12,2.95788E+12
3,Germany,GDP (current US$),3.52714E+12,3.7338E+12,3.88909E+12,3.35759E+12,3.46985E+12,3.69085E+12,3.97444E+12,3.88823E+12,3.88967E+12,4.25993E+12
4,India,GDP (current US$),1.82764E+12,1.85672E+12,2.03913E+12,2.10359E+12,2.2948E+12,2.65147E+12,2.70293E+12,2.83155E+12,2.66769E+12,3.1763E+12
5,Italy,GDP (current US$),2.08696E+12,2.14192E+12,2.16201E+12,1.83664E+12,1.87707E+12,1.9618E+12,2.09193E+12,2.0113E+12,1.89676E+12,2.1077E+12
6,Japan,GDP (current US$),6.27236E+12,5.21233E+12,4.89699E+12,4.44493E+12,5.00368E+12,4.93084E+12,5.03784E+12,5.12332E+12,5.04011E+12,4.94088E+12
7,South Korea,GDP (current US$),1.27843E+12,1.3708E+12,1.48432E+12,1.46577E+12,1.50011E+12,1.6239E+12,1.72485E+12,1.65142E+12,1.64431E+12,1.81096E+12
8,United Kingdom,GDP (current US$),2.70634E+12,2.78632E+12,3.06522E+12,2.93486E+12,2.69966E+12,2.6834E+12,2.87815E+12,2.85706E+12,2.70461E+12,3.13138E+12
9,United States,GDP (current US$),1.6254E+13,1.68432E+13,1.75507E+13,1.8206E+13,1.86951E+13,1.94773E+13,2.05331E+13,2.1381E+13,2.10605E+13,2.33151E+13

In [12]:
pd.to_numeric(data ['2021']).sort_values()

7    1.810960e+12
0    1.988340e+12
5    2.107700e+12
2    2.957880e+12
8    3.131380e+12
4    3.176300e+12
3    4.259930e+12
6    4.940880e+12
1    1.773410e+13
9    2.331510e+13
Name: 2021, dtype: float64

In [13]:
gdp_new = data[["Country Name", "Series Name"]].copy(deep=True)
for year in ["2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"]:
    gdp_new[year] = data[year].apply(pd.to_numeric)

In [14]:
gdp = gdp_new.sort_values(by = ['2012'], ascending=(False))
gdp

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,United States,GDP (current US$),1.625400e+13,1.684320e+13,1.755070e+13,1.820600e+13,1.869510e+13,1.947730e+13,2.053310e+13,2.138100e+13,2.106050e+13,2.331510e+13
1,China,GDP (current US$),8.532230e+12,9.570410e+12,1.047570e+13,1.106160e+13,1.123330e+13,1.231040e+13,1.389480e+13,1.427990e+13,1.468770e+13,1.773410e+13
6,Japan,GDP (current US$),6.272360e+12,5.212330e+12,4.896990e+12,4.444930e+12,5.003680e+12,4.930840e+12,5.037840e+12,5.123320e+12,5.040110e+12,4.940880e+12
3,Germany,GDP (current US$),3.527140e+12,3.733800e+12,3.889090e+12,3.357590e+12,3.469850e+12,3.690850e+12,3.974440e+12,3.888230e+12,3.889670e+12,4.259930e+12
8,United Kingdom,GDP (current US$),2.706340e+12,2.786320e+12,3.065220e+12,2.934860e+12,2.699660e+12,2.683400e+12,2.878150e+12,2.857060e+12,2.704610e+12,3.131380e+12
2,France,GDP (current US$),2.683670e+12,2.811880e+12,2.855960e+12,2.439190e+12,2.472960e+12,2.595150e+12,2.790960e+12,2.728870e+12,2.639010e+12,2.957880e+12
5,Italy,GDP (current US$),2.086960e+12,2.141920e+12,2.162010e+12,1.836640e+12,1.877070e+12,1.961800e+12,2.091930e+12,2.011300e+12,1.896760e+12,2.107700e+12
0,Canada,GDP (current US$),1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
4,India,GDP (current US$),1.827640e+12,1.856720e+12,2.039130e+12,2.103590e+12,2.294800e+12,2.651470e+12,2.702930e+12,2.831550e+12,2.667690e+12,3.176300e+12
7,South Korea,GDP (current US$),1.278430e+12,1.370800e+12,1.484320e+12,1.465770e+12,1.500110e+12,1.623900e+12,1.724850e+12,1.651420e+12,1.644310e+12,1.810960e+12

In [15]:
data2 = numbers[numbers["Series Name"] == "GNI (current US$)"]
data2

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
10,Canada,GNI (current US$),1.79592E+12,1.81847E+12,1.77657E+12,1.53266E+12,1.50933E+12,1.62829E+12,1.696E+12,1.71964E+12,1.62705E+12,1.97418E+12
11,China,GNI (current US$),8.51241E+12,9.49258E+12,1.0489E+13,1.10088E+13,1.11776E+13,1.22943E+13,1.38338E+13,1.42399E+13,1.45701E+13,1.75723E+13
12,France,GNI (current US$),2.74235E+12,2.87486E+12,2.91786E+12,2.49186E+12,2.52528E+12,2.65381E+12,2.85566E+12,2.78742E+12,2.67999E+12,3.04518E+12
13,Germany,GNI (current US$),3.61177E+12,3.82026E+12,3.96701E+12,3.4341E+12,3.55593E+12,3.77879E+12,4.10843E+12,4.01908E+12,4.00419E+12,4.41103E+12
14,India,GNI (current US$),1.80618E+12,1.8336E+12,2.01502E+12,2.07918E+12,2.24794E+12,2.6228E+12,2.67399E+12,2.80431E+12,2.63176E+12,3.12686E+12
15,Italy,GNI (current US$),2.08441E+12,2.13821E+12,2.1622E+12,1.82394E+12,1.88246E+12,1.97274E+12,2.11504E+12,2.02835E+12,1.92049E+12,2.14547E+12
16,Japan,GNI (current US$),6.44554E+12,5.39161E+12,5.07902E+12,4.61977E+12,5.17779E+12,5.11325E+12,5.23063E+12,5.32345E+12,5.22289E+12,5.1293E+12
17,South Korea,GNI (current US$),1.2918E+12,1.37953E+12,1.4915E+12,1.47036E+12,1.5056E+12,1.63052E+12,1.73179E+12,1.66568E+12,1.65867E+12,1.83112E+12
18,United Kingdom,GNI (current US$),2.68121E+12,2.73688E+12,3.01043E+12,2.87105E+12,2.63654E+12,2.65451E+12,2.83892E+12,2.85588E+12,2.64385E+12,3.1177E+12
19,United States,GNI (current US$),1.66756E+13,1.71883E+13,1.80431E+13,1.86609E+13,1.90205E+13,1.98856E+13,2.09374E+13,2.17645E+13,2.14724E+13,2.36171E+13

In [16]:
pd.to_numeric(data2 ['2021']).sort_values()

17    1.831120e+12
10    1.974180e+12
15    2.145470e+12
12    3.045180e+12
18    3.117700e+12
14    3.126860e+12
13    4.411030e+12
16    5.129300e+12
11    1.757230e+13
19    2.361710e+13
Name: 2021, dtype: float64

In [17]:
gni_new = data2[["Country Name", "Series Name"]].copy(deep=True)
for year in ["2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"]:
    gni_new[year] = data2[year].apply(pd.to_numeric)

In [18]:
gni = gni_new.sort_values(by = ['2021'], ascending=(False))
gni

,Country Name,Series Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
19,United States,GNI (current US$),1.667560e+13,1.718830e+13,1.804310e+13,1.866090e+13,1.902050e+13,1.988560e+13,2.093740e+13,2.176450e+13,2.147240e+13,2.361710e+13
11,China,GNI (current US$),8.512410e+12,9.492580e+12,1.048900e+13,1.100880e+13,1.117760e+13,1.229430e+13,1.383380e+13,1.423990e+13,1.457010e+13,1.757230e+13
16,Japan,GNI (current US$),6.445540e+12,5.391610e+12,5.079020e+12,4.619770e+12,5.177790e+12,5.113250e+12,5.230630e+12,5.323450e+12,5.222890e+12,5.129300e+12
13,Germany,GNI (current US$),3.611770e+12,3.820260e+12,3.967010e+12,3.434100e+12,3.555930e+12,3.778790e+12,4.108430e+12,4.019080e+12,4.004190e+12,4.411030e+12
14,India,GNI (current US$),1.806180e+12,1.833600e+12,2.015020e+12,2.079180e+12,2.247940e+12,2.622800e+12,2.673990e+12,2.804310e+12,2.631760e+12,3.126860e+12
18,United Kingdom,GNI (current US$),2.681210e+12,2.736880e+12,3.010430e+12,2.871050e+12,2.636540e+12,2.654510e+12,2.838920e+12,2.855880e+12,2.643850e+12,3.117700e+12
12,France,GNI (current US$),2.742350e+12,2.874860e+12,2.917860e+12,2.491860e+12,2.525280e+12,2.653810e+12,2.855660e+12,2.787420e+12,2.679990e+12,3.045180e+12
15,Italy,GNI (current US$),2.084410e+12,2.138210e+12,2.162200e+12,1.823940e+12,1.882460e+12,1.972740e+12,2.115040e+12,2.028350e+12,1.920490e+12,2.145470e+12
10,Canada,GNI (current US$),1.795920e+12,1.818470e+12,1.776570e+12,1.532660e+12,1.509330e+12,1.628290e+12,1.696000e+12,1.719640e+12,1.627050e+12,1.974180e+12
17,South Korea,GNI (current US$),1.291800e+12,1.379530e+12,1.491500e+12,1.470360e+12,1.505600e+12,1.630520e+12,1.731790e+12,1.665680e+12,1.658670e+12,1.831120e+12

In [19]:
coords_file = "./Resources/Coordinates.csv"
place_df = pd.read_csv(coords_file, skiprows=0)
place_df

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [20]:
data2_df = place_df[['name', 'latitude', 'longitude']]
data2_df

                     name   latitude  longitude
0                 Andorra  42.546245   1.601554
1    United Arab Emirates  23.424076  53.847818
2             Afghanistan  33.939110  67.709953
3     Antigua and Barbuda  17.060816 -61.796428
4                Anguilla  18.220554 -63.068615
..                    ...        ...        ...
240                 Yemen  15.552727  48.516388
241               Mayotte -12.827500  45.166244
242          South Africa -30.559482  22.937506
243                Zambia -13.133897  27.849332
244              Zimbabwe -19.015438  29.154857

[245 rows x 3 columns]

In [21]:
clean2_df = data2_df.loc[place_df['name'].isin(['United States', 'China', 'Japan', 'Germany', 'India', 'United Kingdom', 'France', 'Italy', 'Canada', 'South Korea'])]
clean2_df

               name   latitude   longitude
35           Canada  56.130366 -106.346771
45            China  35.861660  104.195397
53          Germany  51.165691   10.451526
71           France  46.227638    2.213749
73   United Kingdom  55.378051   -3.435973
102           India  20.593684   78.962880
107           Italy  41.871940   12.567380
111           Japan  36.204824  138.252924
119     South Korea  35.907757  127.766922
227   United States  37.090240  -95.712891

In [22]:
coordinates = clean2_df.rename(columns = {"name":"Country Name"})
coordinates

       Country Name   latitude   longitude
35           Canada  56.130366 -106.346771
45            China  35.861660  104.195397
53          Germany  51.165691   10.451526
71           France  46.227638    2.213749
73   United Kingdom  55.378051   -3.435973
102           India  20.593684   78.962880
107           Italy  41.871940   12.567380
111           Japan  36.204824  138.252924
119     South Korea  35.907757  127.766922
227   United States  37.090240  -95.712891

In [23]:
debt_file = "./Resources/Debt.csv"
new_df = pd.read_csv(debt_file, skiprows=0)
new_df

,place,pop2023,growthRate,area,country,cca3,cca2,ccn3,region,subregion,landAreaKm,density,densityMi,Rank,debt2gdpRatio,rank
0,392,123294513.0,-0.00530,377930,Japan,JPN,JP,392,Asia,Eastern Asia,364500.0,338.2566,876.0845,12,237.0,1
1,300,10341277.0,-0.00421,131990,Greece,GRC,GR,300,Europe,Southern Europe,128900.0,80.2271,207.7883,91,177.0,2
2,422,5353930.0,-0.02474,10452,Lebanon,LBN,LB,422,Asia,"Western Asia, The Middle East",10230.0,523.3558,1355.4916,122,151.0,3
3,380,58870762.0,-0.00282,301336,Italy,ITA,IT,380,Europe,Southern Europe,295717.0,199.0780,515.6121,25,135.0,4
4,702,6014723.0,0.00653,710,Singapore,SGP,SG,702,Asia,South-Eastern Asia,718.0,8377.0515,21696.5635,114,126.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,643,144444359.0,-0.00186,17098242,Russia,RUS,RU,643,Europe,Eastern Europe,16376870.0,8.8200,22.8439,9,12.2,163
163,233,1322765.0,-0.00249,45227,Estonia,EST,EE,233,Europe,Northern Europe,42750.0,30.9419,80.1394,156,8.4,164
164,4,42239854.0,0.02702,652230,Afghanistan,AFG,AF,4,Asia,"South Central Asia, Southern Asia",652230.0,64.7622,167.7341,36,7.1,165
165,136,69310.0,0.00879,264,Cayman Islands,CYM,KY,136,North America,Caribbean,240.0,288.7917,747.9704,205,5.7,166
166,96,452524.0,0.00784,5765,Brunei,BRN,BN,96,Asia,South-Eastern Asia,5270.0,85.8679,222.3979,175,2.4,167

In [24]:
columns = new_df[['country', 'rank','debt2gdpRatio']]
columns

            country  rank  debt2gdpRatio
0             Japan     1          237.0
1            Greece     2          177.0
2           Lebanon     3          151.0
3             Italy     4          135.0
4         Singapore     5          126.0
..              ...   ...            ...
162          Russia   163           12.2
163         Estonia   164            8.4
164     Afghanistan   165            7.1
165  Cayman Islands   166            5.7
166          Brunei   167            2.4

[167 rows x 3 columns]

In [25]:
country = columns.loc[new_df['country'].isin(['United States', 'China', 'Japan', 'Germany', 'India', 'United Kingdom', 'France', 'Italy', 'Canada', 'South Korea'])]
country

            country  rank  debt2gdpRatio
0             Japan     1         237.00
3             Italy     4         135.00
10    United States    11         107.00
14           France    15          98.10
20           Canada    21          89.70
26   United Kingdom    27          80.70
36            India    37          69.62
53          Germany    54          59.80
74            China    75          50.50
111     South Korea   112          37.70

In [26]:
debt = country.rename(columns = {"country":"Country Name",
                         "rank":"debt_rank", 
                         "debt2gdpRatio":"debt_to_gdp_ratio"})
debt

       Country Name  debt_rank  debt_to_gdp_ratio
0             Japan          1             237.00
3             Italy          4             135.00
10    United States         11             107.00
14           France         15              98.10
20           Canada         21              89.70
26   United Kingdom         27              80.70
36            India         37              69.62
53          Germany         54              59.80
74            China         75              50.50
111     South Korea        112              37.70

In [27]:
pop_file = "./Resources/Population.csv"
data4_df = pd.read_csv(pop_file, skiprows=0)
data4_df

,Country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,1384206408,1391883335,1399453966,1406847868,1414049353,1421021794,1427647789,1433783692,1439323774,1444216102,1448471404
1,India,1265780243,1280842119,1295600768,1310152392,1324517250,1338676779,1352642283,1366417756,1380004385,1393409033,1406631781
2,United States of America,314043885,316400539,318673422,320878312,323015992,325084758,327096263,329064917,331002647,332915074,334805268
3,Indonesia,248451714,251805314,255128076,258383257,261556386,264650969,267670549,270625567,273523621,276361788,279134505
4,Brazil,199287292,201035904,202763744,204471759,206163056,207906210,212228288,216565317,220892331,225199929,229488996
...,...,...,...,...,...,...,...,...,...,...,...,...
196,United States Virgin Islands,104506,105304,105107,104950,104865,105361,105846,106310,106766,107195,107748
197,Aruba,102736,103165,103776,104339,104829,104745,104672,104579,105697,106759,107612
198,Tonga,102565,101768,101023,100780,101143,102002,103199,104497,104423,104218,103969
199,Seychelles,92608,93397,94214,94981,95711,96418,97094,97741,98340,98910,99505
200,Antigua and Barbuda,90407,91510,92562,93571,94520,95425,96282,97115,97928,98728,99433

In [28]:
country2 = data4_df.loc[data4_df['Country'].isin(['United States of America', 'China', 'Japan', 'Germany', 'India', 'United Kingdom', 'France', 'Italy', 'Canada', 'Republic of Korea'])]
country2

,Country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,1384206408,1391883335,1399453966,1406847868,1414049353,1421021794,1427647789,1433783692,1439323774,1444216102,1448471404
1,India,1265780243,1280842119,1295600768,1310152392,1324517250,1338676779,1352642283,1366417756,1380004385,1393409033,1406631781
2,United States of America,314043885,316400539,318673422,320878312,323015992,325084758,327096263,329064917,331002647,332915074,334805268
9,Japan,128423571,128314189,128168630,127985139,127763267,127502728,127202190,127575529,128932753,130262220,131562775
15,Germany,80972629,81174373,81450370,81787411,82193770,82658409,84068092,86790568,89561404,92377986,95240782
20,United Kingdom,64525300,64984015,65423048,65860149,66297944,66727463,67141678,67530161,67886004,68207114,68497913
21,France,63564224,63893521,64193550,64453194,64667590,64842513,64990512,65129731,65273512,65426177,65584514
22,Italy,59879469,60166828,60409622,60578489,60663068,60673694,60627291,60550092,60461828,61498438,63298542
26,Republic of Korea,47063059,48483132,49960563,50823087,50983446,51096408,51392570,52573967,53771300,54806014,55227152
36,Canada,34558700,35296535,35664338,36026668,36610632,37552789,37921585,38041757,38928341,39835428,40754385

In [29]:
population = country2.rename(columns = {"Country":"Country Name"})
population

,Country Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,1384206408,1391883335,1399453966,1406847868,1414049353,1421021794,1427647789,1433783692,1439323774,1444216102,1448471404
1,India,1265780243,1280842119,1295600768,1310152392,1324517250,1338676779,1352642283,1366417756,1380004385,1393409033,1406631781
2,United States of America,314043885,316400539,318673422,320878312,323015992,325084758,327096263,329064917,331002647,332915074,334805268
9,Japan,128423571,128314189,128168630,127985139,127763267,127502728,127202190,127575529,128932753,130262220,131562775
15,Germany,80972629,81174373,81450370,81787411,82193770,82658409,84068092,86790568,89561404,92377986,95240782
20,United Kingdom,64525300,64984015,65423048,65860149,66297944,66727463,67141678,67530161,67886004,68207114,68497913
21,France,63564224,63893521,64193550,64453194,64667590,64842513,64990512,65129731,65273512,65426177,65584514
22,Italy,59879469,60166828,60409622,60578489,60663068,60673694,60627291,60550092,60461828,61498438,63298542
26,Republic of Korea,47063059,48483132,49960563,50823087,50983446,51096408,51392570,52573967,53771300,54806014,55227152
36,Canada,34558700,35296535,35664338,36026668,36610632,37552789,37921585,38041757,38928341,39835428,40754385

In [30]:
population.loc[26, 'Country Name'] = "South Korea"
population

,Country Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,1384206408,1391883335,1399453966,1406847868,1414049353,1421021794,1427647789,1433783692,1439323774,1444216102,1448471404
1,India,1265780243,1280842119,1295600768,1310152392,1324517250,1338676779,1352642283,1366417756,1380004385,1393409033,1406631781
2,United States of America,314043885,316400539,318673422,320878312,323015992,325084758,327096263,329064917,331002647,332915074,334805268
9,Japan,128423571,128314189,128168630,127985139,127763267,127502728,127202190,127575529,128932753,130262220,131562775
15,Germany,80972629,81174373,81450370,81787411,82193770,82658409,84068092,86790568,89561404,92377986,95240782
20,United Kingdom,64525300,64984015,65423048,65860149,66297944,66727463,67141678,67530161,67886004,68207114,68497913
21,France,63564224,63893521,64193550,64453194,64667590,64842513,64990512,65129731,65273512,65426177,65584514
22,Italy,59879469,60166828,60409622,60578489,60663068,60673694,60627291,60550092,60461828,61498438,63298542
26,South Korea,47063059,48483132,49960563,50823087,50983446,51096408,51392570,52573967,53771300,54806014,55227152
36,Canada,34558700,35296535,35664338,36026668,36610632,37552789,37921585,38041757,38928341,39835428,40754385

In [31]:
population.loc[2, 'Country Name'] = "United States"
population

,Country Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,China,1384206408,1391883335,1399453966,1406847868,1414049353,1421021794,1427647789,1433783692,1439323774,1444216102,1448471404
1,India,1265780243,1280842119,1295600768,1310152392,1324517250,1338676779,1352642283,1366417756,1380004385,1393409033,1406631781
2,United States,314043885,316400539,318673422,320878312,323015992,325084758,327096263,329064917,331002647,332915074,334805268
9,Japan,128423571,128314189,128168630,127985139,127763267,127502728,127202190,127575529,128932753,130262220,131562775
15,Germany,80972629,81174373,81450370,81787411,82193770,82658409,84068092,86790568,89561404,92377986,95240782
20,United Kingdom,64525300,64984015,65423048,65860149,66297944,66727463,67141678,67530161,67886004,68207114,68497913
21,France,63564224,63893521,64193550,64453194,64667590,64842513,64990512,65129731,65273512,65426177,65584514
22,Italy,59879469,60166828,60409622,60578489,60663068,60673694,60627291,60550092,60461828,61498438,63298542
26,South Korea,47063059,48483132,49960563,50823087,50983446,51096408,51392570,52573967,53771300,54806014,55227152
36,Canada,34558700,35296535,35664338,36026668,36610632,37552789,37921585,38041757,38928341,39835428,40754385

In [32]:
protocol = 'postgresql'
username = 'postgres'
password = pw
host = 'localhost'
port = 5432
database_name = 'project3_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [33]:
engine.table_names()

C:\Users\kls4f\AppData\Local\Temp\ipykernel_1412\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['gdp', 'gni', 'coordinates', 'debt', 'population']

In [34]:
gdp.to_sql(name='gdp',con=engine,if_exists='append',index=False)

10

In [35]:
gni.to_sql(name='gni',con=engine,if_exists='append',index=False)

10

In [36]:
coordinates.to_sql(name='coordinates',con=engine,if_exists='append',index=False)

10

In [37]:
debt.to_sql(name='debt',con=engine,if_exists='append',index=False)

10

In [38]:
population.to_sql(name='population',con=engine,if_exists='append',index=False)

10