In [82]:
import pandas as pd

import json

from sqlalchemy import create_engine

import numpy as np

from config import user, passw, host, port, name

In [83]:
gdp = pd.read_csv("data/gdp.csv", skiprows=4)
gni = pd.read_csv("data/gni.csv", skiprows=4)
coord = pd.read_csv("data/coord.csv")
debt = pd.read_csv("data/debt.csv")

In [84]:
coord = coord[['name', 'country', 'latitude', 'longitude']]
coord.rename(columns={"name":"country_name",
                     "country":"country_code",
                     "latitude":"lat",
                     "longitude":"lon"}, inplace=True)
coord.head()

           country_name country_code        lat        lon
0               Andorra           AD  42.546245   1.601554
1  United Arab Emirates           AE  23.424076  53.847818
2           Afghanistan           AF  33.939110  67.709953
3   Antigua and Barbuda           AG  17.060816 -61.796428
4              Anguilla           AI  18.220554 -63.068615

In [85]:
coord_final = coord.loc[coord["country_name"].isin(["United States",
                                         "China", 
                                         "Japan",
                                         "Germany", 
                                         "India", 
                                         "United Kingdom", 
                                         "France", 
                                         "Italy", 
                                         "Canada", 
                                         "South Korea"])]
coord_final.loc[119, 'country_name'] = "Korea, Rep."

/Users/benraseman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

      country_name country_code        lat         lon
35          Canada           CA  56.130366 -106.346771
45           China           CN  35.861660  104.195397
53         Germany           DE  51.165691   10.451526
71          France           FR  46.227638    2.213749
73  United Kingdom           GB  55.378051   -3.435973

In [99]:
coord_final.dtypes

country_name     object
country_code     object
lat             float64
lon             float64
dtype: object

In [86]:
debt.drop(columns= ['place', 
            'pop2023', 
            'area', 
            'country', 
            'cca2', 
            'ccn3', 
            'region', 
            'subregion', 
            'landAreaKm', 
            'density', 
            'densityMi', 
            'Rank', 
            'rank'], inplace=True)

debt.rename(columns={
    "growthRate":"growth_rate",
    "cca3":"country_code",
    "debt2gdpRatio":"debt_to_gdp_ratio"
}, inplace=True)

debt = debt[['country_code', 'growth_rate', 'debt_to_gdp_ratio']]

debt

    country_code  growth_rate  debt_to_gdp_ratio
0            JPN     -0.00530              237.0
1            GRC     -0.00421              177.0
2            LBN     -0.02474              151.0
3            ITA     -0.00282              135.0
4            SGP      0.00653              126.0
..           ...          ...                ...
162          RUS     -0.00186               12.2
163          EST     -0.00249                8.4
164          AFG      0.02702                7.1
165          CYM      0.00879                5.7
166          BRN      0.00784                2.4

[167 rows x 3 columns]

In [103]:
debt_final = debt.loc[debt["country_code"].isin(["USA",
                                         "CHN", 
                                         "JPN",
                                         "DEU", 
                                         "IND", 
                                         "GBR", 
                                         "FRA", 
                                         "ITA", 
                                         "CAN", 
                                         "KOR"])]

debt_final.sort_values("debt_to_gdp_ratio", ascending=False, inplace=True)

country = ['Japan', 
           'Italy', 
           'United States', 
           'France', 
           'Canada', 
           'United Kingdom', 
           'India',
           'Germany', 
           'China', 
           'Korea, Rep.']
debt_final['country_name'] = country

debt_final = debt_final[['country_name', 
                         'country_code', 
                         'growth_rate', 
                         'debt_to_gdp_ratio']]

debt_final

/Users/benraseman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/benraseman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       country_name country_code  growth_rate  debt_to_gdp_ratio
0             Japan          JPN     -0.00530             237.00
3             Italy          ITA     -0.00282             135.00
10    United States          USA      0.00505             107.00
14           France          FRA      0.00201              98.10
20           Canada          CAN      0.00850              89.70
26   United Kingdom          GBR      0.00338              80.70
36            India          IND      0.00808              69.62
53          Germany          DEU     -0.00090              59.80
74            China          CHN     -0.00015              50.50
111     Korea, Rep.          KOR     -0.00061              37.70

In [ ]:
debt_final.reset_index(inplace=True)

In [96]:
debt_final.drop("index", axis=1, inplace=True)

/Users/benraseman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [98]:
debt_final.dtypes

country_code          object
growth_rate          float64
debt_to_gdp_ratio    float64
dtype: object

In [34]:
gni.drop("Unnamed: 66", axis=1, inplace=True)
gdp.drop("Unnamed: 66", axis=1, inplace=True)

In [35]:
gni_df = gni[['Country Name', 'Country Code', '2012', '2013', '2014', '2015', '2016','2017','2018','2019','2020','2021']].copy()

In [36]:
gdp_df = gdp[['Country Name', 'Country Code', '2012', '2013', '2014', '2015', '2016','2017','2018','2019','2020','2021']].copy()

In [37]:
gni_df.dropna(how="any", inplace=True)
gdp_df.dropna(how="any", inplace=True)

In [38]:
gdp_df.drop([259,95,181,198, 102, 103, 140, 156, 142, 249, 61, 62, 63, 65, 230, 170, 
            73, 68, 139, 134, 236, 128, 231, 204, 240, 153, 64,104,7,217,241,215,36], inplace=True)

In [39]:
gdp_df.sort_values("2021",ascending=False, inplace=True)
gdp_df.head(10)

,Country Name,Country Code,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
251,United States,USA,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13,1.869511e+13,1.947734e+13,2.053306e+13,2.138098e+13,2.106047e+13,2.331508e+13
40,China,CHN,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.468767e+13,1.773406e+13
119,Japan,JPN,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12,5.003678e+12,4.930837e+12,5.037835e+12,5.123318e+12,5.040108e+12,4.940878e+12
55,Germany,DEU,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12,3.469853e+12,3.690849e+12,3.974443e+12,3.888226e+12,3.889669e+12,4.259935e+12
109,India,IND,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.702930e+12,2.831552e+12,2.667688e+12,3.176295e+12
81,United Kingdom,GBR,2.706341e+12,2.786315e+12,3.065223e+12,2.934858e+12,2.699660e+12,2.683399e+12,2.878152e+12,2.857058e+12,2.704609e+12,3.131378e+12
77,France,FRA,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.639009e+12,2.957880e+12
116,Italy,ITA,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12,1.877072e+12,1.961796e+12,2.091932e+12,2.011302e+12,1.896755e+12,2.107703e+12
35,Canada,CAN,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.742015e+12,1.645423e+12,1.988336e+12
126,"Korea, Rep.",KOR,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12,1.500112e+12,1.623901e+12,1.724846e+12,1.651423e+12,1.644313e+12,1.810956e+12

In [40]:
gdp_final = gdp_df.loc[gdp_df["Country Name"].isin(["United States",
                                         "China", 
                                         "Japan",
                                         "Germany", 
                                         "India", 
                                         "United Kingdom", 
                                         "France", 
                                         "Italy", 
                                         "Canada", 
                                         "Korea, Rep."])]

In [41]:
gdp_final.reset_index(inplace=True)

In [42]:
gdp_final.drop("index", axis=1, inplace=True)

/Users/benraseman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [43]:
gdp_final.rename(columns={"Country Name":"country_name",
                         "Country Code": "country_code"}, inplace=True)

/Users/benraseman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
gni_final = gni_df.loc[gni_df["Country Name"].isin(["United States",
                                         "China", 
                                         "Japan",
                                         "Germany", 
                                         "India", 
                                         "United Kingdom", 
                                         "France", 
                                         "Italy", 
                                         "Canada", 
                                         "Korea, Rep."])]
gni_final.rename(columns={"Country Name":"country_name",
                         "Country Code": "country_code"}, inplace=True)

In [14]:
gni_final.sort_values("2021", ascending=False, inplace=True)

/Users/benraseman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
gni_final.reset_index(inplace=True)

In [16]:
gni_final.drop("index", axis=1, inplace=True)

In [17]:
gni_final

,country_name,country_code,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,United States,USA,1.667560e+13,1.718833e+13,1.804309e+13,1.866091e+13,1.902048e+13,1.988555e+13,2.093736e+13,2.176454e+13,2.147236e+13,2.361711e+13
1,China,CHN,8.512412e+12,9.492579e+12,1.048898e+13,1.100877e+13,1.117758e+13,1.229428e+13,1.383379e+13,1.423993e+13,1.457007e+13,1.757233e+13
2,Japan,JPN,6.445537e+12,5.391606e+12,5.079021e+12,4.619771e+12,5.177795e+12,5.113252e+12,5.230632e+12,5.323445e+12,5.222887e+12,5.129301e+12
3,Germany,DEU,3.611772e+12,3.820264e+12,3.967012e+12,3.434101e+12,3.555931e+12,3.778789e+12,4.108434e+12,4.019078e+12,4.004193e+12,4.411028e+12
4,India,IND,1.806178e+12,1.833602e+12,2.015015e+12,2.079182e+12,2.247940e+12,2.622800e+12,2.673994e+12,2.804314e+12,2.631758e+12,3.126863e+12
5,United Kingdom,GBR,2.681210e+12,2.736880e+12,3.010428e+12,2.871047e+12,2.636541e+12,2.654506e+12,2.838922e+12,2.855884e+12,2.643853e+12,3.117697e+12
6,France,FRA,2.742349e+12,2.874860e+12,2.917865e+12,2.491865e+12,2.525277e+12,2.653805e+12,2.855661e+12,2.787417e+12,2.679986e+12,3.045183e+12
7,Italy,ITA,2.084407e+12,2.138212e+12,2.162198e+12,1.823940e+12,1.882461e+12,1.972735e+12,2.115040e+12,2.028351e+12,1.920487e+12,2.145467e+12
8,Canada,CAN,1.795920e+12,1.818471e+12,1.776572e+12,1.532664e+12,1.509328e+12,1.628292e+12,1.695997e+12,1.719639e+12,1.627049e+12,1.974180e+12
9,"Korea, Rep.",KOR,1.291796e+12,1.379532e+12,1.491502e+12,1.470358e+12,1.505596e+12,1.630521e+12,1.731792e+12,1.665676e+12,1.658669e+12,1.831117e+12

In [104]:
protocol = 'postgresql'
rds_connection_string = f'{protocol}://{user}:{passw}@{host}:{port}/{name}'
engine = create_engine(rds_connection_string)

In [105]:
engine.table_names()

/Users/benraseman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['gdp', 'gni', 'coord', 'debt']

In [108]:
gdp_final.to_sql(name='gdp', con=engine, if_exists='append', index=False)
gni_final.to_sql(name='gni', con=engine, if_exists='append', index=False)
coord_final.to_sql(name='coord', con=engine, if_exists='append', index=False)
debt_final.to_sql(name='debt', con=engine, if_exists='append', index=False)